<%- include('../partials/header.ejs')%>
<div class="Profile">
  <main class="profile_child">
    <h2>Welcome, <%= user.firstName %></h2>
    <br />
    <% if (events.length) { %>
    <p>You have created the following events:</p>
    <% events.forEach(event => { %>
    <div class="profile_event_item">
      <a href="/events/<%= event.id %>">
        <p><%= event.title %></p>
      </a>
      <form class="profile_event_actions">
        <button
          class="btn"
          type="submit"
          formmethod="GET"
          formaction="/events/<%= event._id %>/edit"
        >
          <i class="fa fa-edit"></i>
        </button>

        <button
          class="btn"
          type="submit"
          formmethod="POST"
          formaction="/events/<%= event._id %>?_method=DELETE"
        >
          <i class="fa fa-trash"></i>
        </button>
      </form>
    </div>
    <% }); %> <% } else { %>
    <p>You have not created any events</p>
    <% } %>

    <!-- RSVP Section -->
    <br />
    <% if (rsvp.length) { %>
    <p>You have RSVP'd the following events:</p>
    <% rsvp.forEach(event => { %>
    <div class="show_rsvp_status">
      <a href="/events/<%= event.event._id %>">
        <p><%= event.event.title %></p>
      </a>
      <p>Status: <%= event.status %></p>
    </div>
    <% }); %> <% } else { %>
    <p>You have not RSVP'd any events</p>
    <% } %>
  </main>
</div>
<%- include('../partials/footer.ejs')%>
